body {
    background-image: url('images/stars-background-purple.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* .clock-hand {
    stroke: blanchedalmond;
    stroke-width: 5;
}

.txt {
    color: white;
}

#hand-second {
    stroke: red;
} */

.clock {
    height: 300px;
    width: 300px;
    border: 10px solid white;
    border-radius: 300px;
    position: relative;
}

.hand {
    width: 130px;
    height: 5px;
    background: white;
    position: absolute;
    top: 150px;
    margin-left: 20px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.38, 4.33, 0.58, 1);
}

.hand-second {
    background-color: red;
}

.hand-hour {
    background-color: purple;
}